@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  pre {
    margin: 5px;
  }

  li.by-date.active {
      height: 24px;
  }

  li.by-date {
      height: auto;
      overflow: hidden;
      font-family: monospace;
      overflow: hidden;
      line-height: 16px;
      font-size: 16px; /*0.9375em;*/
  }

}
